MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/martir-ponto-digital?retryWrites=true&w=majority
JWT_SECRET=gere-uma-chave-com-pelo-menos-32-caracteres
PORT=3000
CORS_ORIGIN=http://localhost:5173

INITIAL_ADMIN_CPF=10274398613
INITIAL_ADMIN_NAME=Admin Master
INITIAL_ADMIN_PASSWORD=troque-por-uma-senha-forte
