# Dependências do Node.js
node_modules/

# Diretório de saída do TypeScript
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Configurações de ambiente
.env
